<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AntPanelApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <AntPanelApplication.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>AntPanel</value>
            </setting>
            <setting name="MenuBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BookMarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>F:\My Music\２つのミサ曲\２つのミサ曲.asx</string>
                        <string>C:\home\KingFM.asx</string>
                        <string>F:\My Video\flv\misaki.flv</string>
                        <string>F:\My Music\KingFM\070104\MARTIN-Mass.wax</string>
                        <string>F:\home\xjpeg\ePXXXFd.wmv</string>
                        <string>http://v6.player.abacast.net/3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PreviousDocuments" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>F:\My Music\KingFM\061122\MOZART-Horn_Concerto_No.2_in_E-flat_K.417.wax</string>
                        <string>F:\My Music\２つのミサ曲\２つのミサ曲.asx</string>
                        <string>C:\home\KingFM.asx</string>
                        <string>F:\My Video\flv\misaki.flv</string>
                        <string>F:\My Music\KingFM\070104\MARTIN-Mass.wax</string>
                        <string>F:\My Music\KingFM\060804\MOZART-Piano_Concerto_No.13_in_C_K.415_387b.wax</string>
                        <string>F:\My Music\KingFM\061030\MOZART-Piano_Concerto_No.12_in_A_K.414.wax</string>
                        <string>F:\My Music\KingFM\060805\IBERT-Escales(Ports_of_Call).wax</string>
                        <string>F:/My Music/KingFM/070108/MOZART-Piano_Concerto_No.1_in_F,_K.37.wax</string>
                        <string>F:\home\xjpeg\ePXXXFd.wmv</string>
                        <string>F:\My Music\KingFM\070107\IRELAND-Orchestral_Poem_in_A_minor.wax</string>
                        <string>F:\My Music\KingFM\070112\KETCLBY-Bells_Across_the_Meadow.wax</string>
                        <string>F:\My Music\KingFM\070115\HEINICHEN-Chamber_Sonata_in_A,_S.208.wax</string>
                        <string>F:\My Music\KingFM\060810\GEMINIANI-Concerto_Grosso_in_B-flat_Op.5_2.wax</string>
                        <string>F:\My Music\KingFM\070117\FALLA-Love,_the_Magician-Ritual_Fire_Dance.wax</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServerRoot" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="DocumentRoot" serializeAs="String">
                <value>C:\Apache2.2\htdocs</value>
            </setting>
            <setting name="SakuraPath" serializeAs="String">
                <value>C:\Program Files (x86)\sakura\sakura.exe</value>
            </setting>
            <setting name="PspadPath" serializeAs="String">
                <value>C:\Program Files (x86)\PSPad editor\PSPad.exe</value>
            </setting>
            <setting name="FlashdevelopPath" serializeAs="String">
                <value>F:\VCSharp\Flashdevelop5.1.1-LL\FlashDevelop\Bin\Debug\FlashDevelop.exe</value>
            </setting>
            <setting name="Devenv15Path" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\devenv.exe</value>
            </setting>
            <setting name="Devenv17Path" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\devenv.exe</value>
            </setting>
            <setting name="MediaPlayerPath" serializeAs="String">
                <value>C:\Program Files\Windows Media Player\wmplayer.exe</value>
            </setting>
            <setting name="VlcPath" serializeAs="String">
                <value>C:\Program Files\VideoLAN\VLC\vlc.exe</value>
            </setting>
            <setting name="AntExecutablePath" serializeAs="String">
                <value>F:\ant\apache-ant-1.10.1\bin\ant.bat</value>
            </setting>
            <setting name="GradlePath" serializeAs="String">
                <value>F:\gradle-3.5\bin\gradle.bat</value>
            </setting>
            <setting name="ChromePath" serializeAs="String">
                <value>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</value>
            </setting>
            <setting name="IePath" serializeAs="String">
                <value>C:\Program Files\Internet Explorer\iexplore.exe</value>
            </setting>
            <setting name="CmdPath" serializeAs="String">
                <value>C:\Windows\system32\cmd.exe</value>
            </setting>
            <setting name="ExplorerPath" serializeAs="String">
                <value>C:\Windows\explorer.exe</value>
            </setting>
            <setting name="DefaultFont" serializeAs="String">
                <value>ＭＳ ゴシック, 16.2pt</value>
            </setting>
            <setting name="MenuStripItemEnabled" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>101000011011</string>
                        <string>101000011011</string>
                        <string>101000111111</string>
                        <string>111111011011</string>
                        <string>101000011011</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FileMenuVisible" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>01111101000100110</string>
                        <string>01110100000100110</string>
                        <string>01111101000111110</string>
                        <string>11111111111111110</string>
                        <string>01111100000111110</string>
                        <string>00000000000000000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AntPath" serializeAs="String">
                <value>F:\ant\apache-ant-1.10.1</value>
            </setting>
            <setting name="StorageFileName" serializeAs="String">
                <value>antPluginData.txt</value>
            </setting>
        </AntPanelApplication.Properties.Settings>
    </userSettings>
</configuration>
